{% extends "base.html" %}

{% block title %}Games - BP Games{% endblock %}

{% block content %}
  <div class="container-game">
      <div class="card" style="text-align: center; max-height: 600px;">
        <h2>Games:</h2>
        <button class="button" onclick="window.location.href='/games/minesweeper'">Minesweeper</button><br>
        <button class="button" onclick="window.location.href='/games/lights-off'">Lights Out</button><br>
        <button class="button" onclick="window.location.href='/games/brickbreaker'">Brick Breaker</button><br>
        <button class="button" onclick="window.location.href='/games/snake'">Snake</button><br>
      </div>
  </div>
{% endblock %}
